.intro {
  display: flex;
  flex-direction: column;
  margin: 0 auto auto 0;
  padding-top: 92px;
  padding-left: 148px;
  width: 830px;
  box-sizing: border-box;
}

.intro__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  text-align: left;
  margin: 0 auto;
  color: #ffffff;
}

.intro__quote {
  max-width: 738px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: left;
  margin: 0;
  padding-top: 40px;
  color: #ffffff;
}

.intro__quote-author {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin: 0;
  padding-top: 10px;
  max-width: 732px;
}

.intro__text {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  text-align: left;
  margin: 0;
  padding-top: 60px;
  max-width: 725px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 720px;
    padding-top: 90px;
    padding-left: 24px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__quote-author {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 783px) {
  .intro {
    width: 100%;
    padding-top: 80px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 100%;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 34px;
    max-width: 100%;
  }

  .intro__quote-author {
    font-size: 24px;
    line-height: 34px;
    max-width: 100%;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
    max-width: 100%;
  }
}

@media screen and (max-width: 559px) {
  .intro {
    max-width: 288px;
    width: 100%;
    padding-top: 64px;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__quote {
    font-size: 24px;
    line-height: 30px;
    max-width: 100%;
  }

  .intro__quote-author {
    font-size: 24px;
    line-height: 34px;
    max-width: 100%;
  }

  .intro__text {
    font-size: 16px;
    line-height: 163%;
    max-width: 100%;
  }
}
